/* ======================================



Universal Styling




==========================================*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    background: #f5e1a9;
    height: 80px;
}

nav {
    width: 900px;
    margin: 0 auto;
    padding-top: 8px;
    text-align: right;
}

nav ul {
    list-style-type: none;
    padding-top: 10px;
}

nav ul li {
    display: inline-block;
    width: 13%;
    text-align: center;
    background: #3b82bf;
    padding: 11px;
    border-radius: 10px;
    margin: 0 6px;
}

nav ul li a {
    color: #f2f2f2;
    text-decoration: none;
}

nav img {
    float: left;
}

.covidbutton {
    padding: 2px 11px;
}