/* ======================================



Universal Styling




==========================================*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

section {
    margin: 80px 0;
}

h1,
h2 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 37px;
}


/* ==========================================

Header


==============================================*/

header {
    background: #f5e1a9;
    height: 80px;
}

nav {
    width: 900px;
    margin: 0 auto;
    text-align: right;
    height: 80px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    width: 13%;
    text-align: center;
    background: #3b82bf;
    padding: 11px;
    border-radius: 10px;
    margin: 20px 6px;
    box-shadow: 3px 2px 3px #7d7d7d;
}

nav ul li:hover {
    background: #499feb;
    transition: 0.2s;
}

nav ul li a {
    color: #f2f2f2;
    text-decoration: none;
}

nav img {
    float: left;
    margin: 2px 0;
}

.covidbutton {
    font-size: 12.5px;
    padding: 14px 11px 12px;
}


/* =========================================================


Home Page Styling


=============================================================*/

.container {
    max-width: 900px;
    margin: 0 auto;
}

.hero {
    text-align: center;
}

.hero h1 {
    /* visibility: hidden; */
}